<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="reserve">Reservation</h4>
          <p>
            <strong>ID</strong>: {{reservation.id}}</p>
          <p>
          <p>
            <strong>Name</strong>: {{reservation.name}}</p>
       
            <p>
            <strong>Reservation Day</strong>: {{reservation.day}}</p>
          <p>
            <p>
            <strong>Reservation Time</strong>: {{reservation.time}}</p>
          <p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
